#MESSAGE(STATUS "MYLIBNAME Library")

FIND_LIBRARY(MYLIBNAME_LIBRARIES MYLIBNAME ${MYLIBNAME_DIR}/lib)

IF (NOT MYLIBNAME_LIBRARIES)
  SET(MYLIBNAME_LIBRARIES MYLIBNAME CACHE INTERNAL "MYLIBNAME library")
  SET(MYLIBNAME_LIBRARIES MYLIBNAME)
ENDIF (NOT MYLIBNAME_LIBRARIES)


SET(MYLIBNAME_INCLUDE_DIR ${MYLIBNAME_DIR}/include)

