<application>
   <name>Tactile Grasping Demo Right</name>
   <dependencies>
	   <port>/icub/skin/right_hand_comp</port>
	   <port>/skinManager/rpc</port>
   </dependencies>

  <module>
    <name>tactileGrasp</name>
    <parameters>--from tactileGraspRight.ini --context tactileGraspingDemo/conf</parameters>
	  <node>console</node>
    <stdio>console</stdio>
    <tag>tactGraspR</tag>
  </module>

</application>

